h1{
   text-align: center;
   margin-top: 250px;
   font-size: 90px;
}

h1 span:nth-child(1){
  color: red;
}
h1 span:nth-child(2){
  color:blue;
}
h1 span:nth-child(3){
  color:pink;
}
h1 span:nth-child(4){
  color:purple;
}
